* {
    list-style-type: none;
    text-decoration: none;  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #d6dad7;
    font-family: 'Poppins', sans-serif;
}

/* ------Header------- */
.header {
    background-color: #2F2F2F;
    height: 72px;

}
#garis-oren {
    background-color: #E27233;
    height: 3px;
 }
.container#header {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
#logo {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
#logo img {
    height: 30px;
}
/* ---Header end----- */


/* ---Main Navigation------ */
.main-nav {
    display: flex;
    margin: 0px;
    padding:0px;
    height: inherit;
    transition: 0;
}
.main-nav li {
    height: inherit;
}
.main-nav a {
    color: #A9A9A9;
    padding: 0px 25px;
    font-size: 1.3rem;
    height: inherit;
    display: flex;
    align-items: center;
    text-align: center;
}
.main-nav a:hover {
    background-color: #2c2c2c;
}
/* ---Main Navigation end------ */


/* ----------Mobile Nav------- */
.mbl-nav {
    display: none;
    margin: 0px;
    padding:0px;
    background-color: #2F2F2F;
    position: fixed;
    right: 0px;
    top: 53px;
    height: 100vh;
    min-width: 70vw;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}
.mbl-nav li {
    height: 60px;
}
.mbl-nav a {
    color: #A9A9A9;
    padding: 8px 8px 8px 50px;
    font-size: 1.3rem;
    height: inherit;
    display: flex;
    align-items: center;
}
.mbl-nav a:hover {
    background-color: #2c2c2c;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    height: 3px;
    width: 25px;
    background-color: #E27233;
    margin: 3px;
    transition: 350ms cubic-bezier(.17,.84,.44,1);;
}
/* ----------Mobile Nav end------- */


/* -----isi-------- */
.container {
    max-width: 1050px;
    margin: auto;
}
.section {
    background-color: #FCFCFC;
    border-radius: 7px;
    margin: 20px 0;
    padding: 25px;
}
/* ----footer----- */
.footer {
    display: flex;
    height: 70px;
    background-color: #E27233;
    border-top: solid #2F2F2F 3px;
    align-items: center;
    color: #2F2F2F;
    font-size: 0.79rem;
    text-align: center;
}
.footer a {
    color: #2F2F2F;
}

/* ------------------------1125px----------------------------- */
@media (max-width: 1125px) {
    html {
        font-size: 15px;
    }
    .container {
        max-width: 850px    ;
    }
}


/* ---------------------------910px------------------------------ */

@media (max-width: 910px) {
    .container {
        max-width: 680px;
    }
}


/* ------------------------------770px-------------------------------- */

@media (max-width: 770px) {
    html {
        font-size: 14px;
    }
    .header {
        top: 0;
        height: 50px;
        position: fixed;
        width: 100%;
    }

    #logo img {
        height: 23px;
    }
    .burger {
        display: block;
    }
    .content {
        padding-top: 50px;
    }
    .container {
       width: 90vw;
    }
    .section {
        margin: 10px 0;
    }
    .main-nav {
        display: none;
    }
    .mbl-nav {
        display: block;
        min-width: 30vw;
    }
    .mbl-nav a {
        padding: 8px 8px 8px 30px;

    }
    .footer {
        height: 50px;
    }
}


/* -------------------------------540px------------------------------- */

@media (max-width: 540px){
    html {
        font-size: 12px;
    }
    .mbl-nav {
        display: block;
        min-width:  60vw;
    }
    .container {
        width: 95vw;
    }
    .container#header {
        padding: 0 10px;
    }
    .section {
        padding: 25px 10px;
    }
}



/* -----Nav mbl Geser----- */
.mbl-nav-geser {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-225deg) translate(0.8px,-15px);
    width: 17px;
}
.toggle .line2 {
    transform: rotate(-360deg) translate(1px,0px);
    width: 22px;
}
.toggle .line3 {
    transform: rotate(-135deg) translate(0.8px,15px);
    width: 17px;
}